.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.activation {
  background-color: #84E0CB;
  border-radius: 20px;
}

.btnText {
  border-bottom: 2px solid currentColor;
}

.tools:hover {
  color: #84E0CB;
  background-color: white;
}